body{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow-x: hidden;
}

#charts--container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.theme--switch{
	text-align: center;
	padding: 12px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.theme--switch button{
	color: #108BE3;
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-family: Arial;
	cursor: pointer;
}

.theme--switch button:focus{
	outline: none;
}

body.theme--dark{
	background-color: #242F3E;
}

.theme--switch{
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
	width: 100%;
}

.wrapper{
	width: 33%;
	padding: 8px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.topline-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.topline-container span{
	font-family: Arial;
	font-size: 14px;
	padding: 0 4px;
}

h2{
	color: #000;
	font-family: Arial;
	margin: 8px 0;
	font-size: 18px;
}


canvas{
	width: 100%;
	height: 340px;
}

.labelsContainer{
	width: 100%;
	padding: 4px 0;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.modal--contaniner{
	position: absolute;
	padding: 8px 12px;
	top: 0;
	left: 0;
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
}

.modal--content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 4px;
}

.modal--values{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.modal--values div{
	padding: 2px 0;
	min-width: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.modal--values span{
	font-family: Arial;
	font-size: 12px;
	color: #000;
}	

.modal--values span:nth-child(2){
	font-weight: bold;
	padding-left: 8px;
}

.modal--topline span{
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	color: #000;
}


.input-wrapp{
	position: relative;
	width: 100px;
	height: 32px;
	border-radius: 20px;
	margin: 8px 8px;
	cursor: pointer;
}

.input-wrapp input{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	border-radius: 20px;
	cursor: pointer;
}

.input-wrapp .input-mask{
	height: 100%;
	position: relative;
	pointer-events: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	border-radius: 20px;
	opacity: 0.6;
	padding-left: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.3s opacity;
	-o-transition: 0.3s opacity;
	transition: 0.3s opacity;
}

.input-mask i{
	background-image: url('./tick.svg');
	width: 12px;
	height: 12px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.input-mask span{
	color: #fff;
	padding-left: 8px;
	font-family: 'Arial';
	font-size: 14px;
	border-radius: 20px;
}

.input-wrapp input:checked ~ .input-mask{
	opacity: 1;
}


.theme--dark h2{
	color: #fff;
}

.theme--dark .modal--contaniner{
	background-color: #242F3E;
}


.theme--dark .topline-container span{
	color: #fff;
}

.theme--dark .modal--topline span{
	color: #fff;
}

.theme--dark .modal--values span:nth-child(1){
	color: #fff;
}

@media screen and (max-width: 1200px){
	.wrapper{
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	.wrapper{
		width: 100%;
	}

	.topline-container span{
		font-size: 12px;
	}

}